<div name="gallery" id="gallery" class="gallery section">
	<div class="container">
		<div class="row">
			<h1>{{ title }}</h1>
			<div class="gallery-tags">
				<button class="gallery-tag gallery-tag_all active">{{ tab_all }}</button>
				<button class="gallery-tag gallery-tag_photo">{{ tab_photo }}</button>
				<button class="gallery-tag gallery-tag_video">{{ tab_video }}</button>
			</div>
			<di class="gallery-slider">
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo1.jpg" data-fancybox="gallery" >
						<img src="%=static=%img/content/gallery-photo1.jpg" alt="photo">
						<div class="gallery-photo_hover">
							<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo2.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo2.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo2.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo2.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo4.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo4.jpg" alt="photo" >
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-video">
					<a class="gallery-photo video" href="https://www.youtube.com/watch?v=BrQNuRXXVPY" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo5.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo6.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo6.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo6.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo7.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo6.jpg"  data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo8.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo1.jpg"  data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo1.jpg" alt="photo">
						<div class="gallery-photo_hover">
							<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo1.jpg"  data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo2.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo2.jpg"  data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo2.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo4.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo4.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-video">
					<a class="gallery-photo video" href="%=static=%img/content/gallery-photo5.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo5.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo6.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo6.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo7.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo7.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div>
				<div class="slide slide-photo">
					<a class="gallery-photo" href="%=static=%img/content/gallery-photo8.jpg" data-fancybox="gallery">
						<img src="%=static=%img/content/gallery-photo8.jpg" alt="photo">
						<div class="gallery-photo_hover">
						<div><img src="%=static=%img/content/icon-show.png" alt="icon">{{ btn }}</div>
						</div>
					</a>
				</div> 												
			</div>
		</div>
	</div>
</div>