<div name="price" id="price" class="price section">		
	<div class="container">
		<div class="row">
			<div class="bg">
				<img src="%=static=%img/content/bg-notes.png" alt="">
			</div>
			<div class="col-md-6 col-sm-4 col-12">
				<img class="product-image" src="%=static=%img/content/saxophone.jpg" alt="saxophone">
			</div>
			<div class="desc col-md-6 col-sm-8 col-12">
				<h1>{{ title }}</h1>
				<p>{{ text }}</p>
				<div class="old-price">13 500 грн</div>
				<div class="new-price">12 150 грн</div>
				<button class="btn call-modal" data-modal="modal_checkout">{{ btn }}</button>
			</div>
		</div>
	</div>
</div>