<div name="contacts" id="contacts" class="contacts section">
	<div class="section-bg" style="background-image: url(%=static=%img/content/bg7.png);"></div>
	<div class="container">
		<div class="row">
			<h1 class="light">{{ title }}</h1>
			<p class="desc light">{{ text }}</p>
			<div class="col-md-6 col-12">
				<form class="contact-form" action="sendquestions.php" method="post">
					<div class="row question">
						<label for="question">{{ question }}</label>
						<input name="question" type="text" required>
					</div>
					<div class="row name">
						<label for="fio">{{ name }}</label>
						<input name="fio" type="text" required>
					</div>
					<div class="row phone">
						<label for="phone">{{ phone }}</label>
						<input name="phone" type="text" required>
					</div>
					<div class="row">
						<button class="btn">{{ btn }}</button>		
					</div>				
				</form>
			</div>
			<div class="col-md-6 col-12 contact-info">
				<p class="contact-phone light"><img src="%=static=%img/content/icon-phone.png" alt="icon">+38 (093) 707-04-59</p>
				<p class="contact-phone light"><img src="%=static=%img/content/icon-phone.png" alt="icon">+38 (066) 138-01-37</p>
				<p class="contact-email light"><img src="%=static=%img/content/icon-email.png" alt="icon">info@birdland.com</p>
				<p class="contact-adress light"><img src="%=static=%img/content/icon-adress.png" alt="icon">{{ adress }}</p>
				<h2 class="contact-social light">{{ social }}</h2>
				<p class="contact-social-icons">
					<a href="https://www.facebook.com/Birdland.Music.Instruments" target="blank">
						<img src="%=static=%img/assets/contacts/facebook-logo.svg" alt="icon">
					</a>
					<a href="https://www.instagram.com/birdland.music.instrument/" target="blank">
						<img src="%=static=%img/assets/contacts/instagram-logo.svg" alt="icon">
					</a>
					<a href="https://www.youtube.com/channel/UC668yZwEHgrXxov5cUOklfA/videos?view_as=subscriber" target="blank">
						<img src="%=static=%img/assets/contacts/youtube-logo.svg" alt="icon">
					</a>
				</p>
			</div>
			
		</div>
	</div>
	<div id="map">
	</div>
</div>

<script>
    var map,
        coordinates  = {lat: 50.435276, lng: 30.530176};
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: coordinates,
        zoom: 17

    	});
    	var marker = new google.maps.Marker({
	    	position: coordinates,
	        map: map,
		    title: 'Наш магазин',
		    animation: google.maps.Animation.BOUNCE,
		    icon: "%=static=%img/content/map-marker.png"
		});
    }    

</script>