<div name="firstPage" id="firstPage" class="firstPage section">
	<img class="mobil-bg" src="/static/img/content/saxophone-transperent.png" alt="img">
	<header>
		<a href="http://birdland.com.ua/" class="logo">
			<img src="%=static=%img/content/logo.png" alt="logo">
		</a>
		<div class="wrapper">
			<a href="http://birdland.com.ua/"  class="logo2">
				<img src="%=static=%img/content/logo2.png" alt="logo2">
			</a>
			<div class="hamburger" id="hamburger-1">
			  <span class="line"></span>
			  <span class="line"></span>
			  <span class="line"></span>
			</div>
			<ul id="menu">
				<div class="lang">
					<a href="http://birdland.com.ua/soprano-saxophone.html">Uk</a>/
					<a href="http://birdland.com.ua/ru/soprano-saxophone.html">Ru</a>
				</div>
				<li><a href="#firstPage">{{ menuItem1 }}</a></li>
				<li><a href="#advantages">{{ menuItem2 }}</a></li>
				<li><a href="#characteristics">{{ menuItem3 }}</a></li>
				<li><a href="#price">{{ menuItem4 }}</a></li>
				<li><a href="#reviews">{{ menuItem5 }}</a></li>
				<li><a href="#gallery">{{ menuItem6 }}</a></li>
			  <li><a href="#contacts">{{ menuItem7 }}</a></li>
			</ul>
			<a href="#firstPage" class="scroll-up">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
					<path d="M3 12v-2l5-5 5 5v2l-5-5z"></path>
				</svg>
			</a>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="content">
			
			<h1 class="light">{{ title }}</h1>
			<p class="light">{{ text }}</p>
			<button class="btn call-modal" data-modal="modal_checkout">{{ btn }}</button>
		</div>
		</div>
	</div>
</div>